.header {
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);;
    text-align: left;
    opacity: 0.45;
    padding-top: 8px;
}

.tableWrapper {
    position: relative;
}

.tableWrapper table {
    width: 100%;
}

.tableWrapper table * {
    color: black;
}

.tableWrapper table thead th .text {
    z-index: 2;
    height: 20px;
    width: 35%;
    top: 0;
}

.tableScroll {
    overflow-y: scroll;
    margin-top: 8px;
}


