.card {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.header {
    background: deepskyblue;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.secondHeader {
    background: darkgray;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.secondHeader button {
    float: right;
    height: 100% !important;
    border-radius: 0 !important;
    margin-right: 0 !important;
    font-weight: bold;
}

.footer {
    background: darkgray !important;
    border: none !important;
    border-radius: 0 !important;
}

.question {
    float: right;
    margin-top: 5px !important;
}